<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Создание пользователя</title>
</head>
<body>
<h1>Введите данные пользователя</h1>

<form action="/save" method="post">
    <label for="name">Имя:</label>
    <input type="text" id="name" name="name" th:value="${user.name}" required>

    <label for="surname">Фамилия:</label>
    <input type="text" id="surname" name="surname" th:value="${user.surname}" required>

    <button type="submit">Сохранить</button>
</form>
</body>
</html>
